<%= form_with(model: kernel_source) do |form| %>
  <% if kernel_source.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(kernel_source.errors.count, "error") %> prohibited this kernel_source from being saved:</h2>

      <ul>
        <% kernel_source.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :git_repo %>
    <%= form.text_field :git_repo %>
  </div>
  
  <div class="field">
    <%= form.label :git_ref %>
    <%= form.text_field :git_ref %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
