<p id="notice"><%= notice %></p>

<p>
  <strong>Git repo:</strong>
  <%= @kernel_source.git_repo %>
</p>

<p>
  <strong>Git ref:</strong>
  <%= @kernel_source.git_ref %>
</p>

<%= link_to 'Edit', edit_kernel_source_path(@kernel_source) %> |
<%= link_to 'Back', kernel_sources_path %>
