<%= form_with(model: kernel_build) do |form| %>
  <% if kernel_build.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(kernel_build.errors.count, "error") %> prohibited this kernel_build from being saved:</h2>

      <ul>
        <% kernel_build.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :config_url %>
    <%= form.collection_select :kernel_config, @current_user_kernel_configs, :id, :config_url, prompt: "-- Select config file --" %>
    <%= button_tag "Upload New Kerenel Config", type: "button", id: "show_new_config_form" %>
  </div>

  <div class="field" id="kernel_config_form">
    <%= form.label :config_url %>
    <%= form.file_field :config_url %>
  </div>

  <div class="field">
    <%= form.label :git_repo %>
    <%= form.collection_select :kernel_source, @current_user_kernel_sources, :id, :git_repo, prompt: "-- Select Git Repo --" %>
  </div>

  <div class="field">
    <%= form.label :git_ref %>
    <%= form.collection_select :kernel_source, @current_user_kernel_sources, :id, :git_ref, prompt: "-- Select Git Ref --" %>
    <%= button_tag "Create New Kernel Source", type: "button", id: "show_new_source_form" %>
  </div>

  <div id="kernel_source_form">
    <div class="field">
      <%= form.label :git_repo %>
      <%= form.text_field :git_repo %>
    </div>

    <div class="field">
      <%= form.label :git_ref %>
      <%= form.text_field :git_ref %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
